<?xml version="1.0" ?>
<robot name="onrobot_rg2_realistic_6dof">
  <material name="onrobot/grey">
    <color rgba="0.65 0.62 0.58 1.0"/>
  </material>
  <material name="onrobot/light_grey">
    <color rgba="0.9 0.92 0.93 1.0"/>
  </material>
  <material name="onrobot/dark_grey">
    <color rgba="0.25 0.25 0.25 1.0"/>
  </material>
  <link name="world"/>
  <link name="rg2_gripper_bracket">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/single_bracket.stl"/>
      </geometry>
      <material name="onrobot/grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/single_bracket.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.09"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_bracket_joint" type="fixed">
    <parent link="world"/>
    <child link="rg2_gripper_bracket"/>
    <origin rpy="1.5708 -1.5708 0.0" xyz="0 0 0"/>
  </joint>
  <link name="rg2_gripper_body">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/body.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/body.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.65"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_body_joint" type="fixed">
    <parent link="rg2_gripper_bracket"/>
    <child link="rg2_gripper_body"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.05"/>
  </joint>
  <link name="rg2_gripper_grasp_frame"/>
  <joint name="rg2_gripper_grasp_frame_joint" type="fixed">
    <parent link="rg2_gripper_body"/>
    <child link="rg2_gripper_grasp_frame"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.14"/>
  </joint>
  <link name="rg2_gripper_finger_1_origin">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_1_origin_joint" type="fixed">
    <parent link="rg2_gripper_body"/>
    <child link="rg2_gripper_finger_1_origin"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="rg2_gripper_finger_1_moment_arm">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/moment_arm.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/moment_arm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_joint" type="revolute">
    <parent link="rg2_gripper_finger_1_origin"/>
    <child link="rg2_gripper_finger_1_moment_arm"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0.0 -0.772 0.0" xyz="-0.017 0.0 0.055"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_1_truss_arm">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/truss_arm.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/truss_arm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_1_truss_arm_joint" type="revolute">
    <parent link="rg2_gripper_finger_1_origin"/>
    <child link="rg2_gripper_finger_1_truss_arm"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0.0 -0.772 0.0" xyz="-0.0075 0.0 0.0715"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_1_finger_tip">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_1_finger_tip_joint" type="revolute">
    <parent link="rg2_gripper_finger_1_truss_arm"/>
    <child link="rg2_gripper_finger_1_finger_tip"/>
    <axis xyz="0 -1 0"/>
    <origin rpy="0.0 0.772 0.0" xyz="-0.0256 0.0 0.04868"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_1_flex_finger">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/flex_finger.stl"/>
      </geometry>
      <material name="onrobot/dark_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/flex_finger.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_1_flex_finger_joint" type="fixed">
    <parent link="rg2_gripper_finger_1_finger_tip"/>
    <child link="rg2_gripper_finger_1_flex_finger"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.03059 0.0 0.0172"/>
  </joint>
  <link name="rg2_gripper_finger_2_origin">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_2_origin_joint" type="fixed">
    <parent link="rg2_gripper_body"/>
    <child link="rg2_gripper_finger_2_origin"/>
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0"/>
  </joint>
  <link name="rg2_gripper_finger_2_moment_arm">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/moment_arm.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/moment_arm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_mirror_joint" type="revolute">
    <parent link="rg2_gripper_finger_2_origin"/>
    <child link="rg2_gripper_finger_2_moment_arm"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0.0 -0.772 0.0" xyz="-0.017 0.0 0.055"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_2_truss_arm">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/truss_arm.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/truss_arm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_2_truss_arm_joint" type="revolute">
    <parent link="rg2_gripper_finger_2_origin"/>
    <child link="rg2_gripper_finger_2_truss_arm"/>
    <axis xyz="0 1 0"/>
    <origin rpy="0.0 -0.772 0.0" xyz="-0.0075 0.0 0.0715"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_2_finger_tip">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
      <material name="onrobot/light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/finger_tip.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_2_finger_tip_joint" type="revolute">
    <parent link="rg2_gripper_finger_2_truss_arm"/>
    <child link="rg2_gripper_finger_2_finger_tip"/>
    <axis xyz="0 -1 0"/>
    <origin rpy="0.0 0.772 0.0" xyz="-0.0256 0.0 0.04868"/>
    <limit effort="100.0" lower="0.0" upper="1.3" velocity="5.0"/>
    <dynamics damping="2.0" friction="0.05"/>
  </joint>
  <link name="rg2_gripper_finger_2_flex_finger">
    <visual>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/flex_finger.stl"/>
      </geometry>
      <material name="onrobot/dark_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://abc_description/meshes/onrobot_rg2/visual/flex_finger.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="rg2_gripper_finger_2_flex_finger_joint" type="fixed">
    <parent link="rg2_gripper_finger_2_finger_tip"/>
    <child link="rg2_gripper_finger_2_flex_finger"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.03059 0.0 0.0172"/>
  </joint>
</robot>
